<section class="py-20 bg-blue-50">
    <div class="container mx-auto px-4">
        <h3 class="text-3xl font-bold text-center text-gray-800">Langages de programmation</h3>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-10">
            <div class="bg-white p-6 rounded-lg shadow hover:shadow-lg">
                <div class="flex justify-between items-center">
                    <div>
                        <h4 class="block text-xl font-bold text-blue-600">Python 3.0</h4>
                        <div class="flex mt-2">
                            <img src="/icons/star_full.png" alt="Star" class="w-6 h-6 mx-1">
                            <img src="/icons/star_full.png" alt="Star" class="w-6 h-6 mx-1">
                            <img src="/icons/star_full.png" alt="Star" class="w-6 h-6 mx-1">
                            <img src="/icons/star_full.png" alt="Star" class="w-6 h-6 mx-1">
                            <img src="/icons/star_full.png" alt="Star" class="w-6 h-6 mx-1">
                        </div>
                    </div>
                    <div>
                        <img src="/imgs/python.png" alt="Python Logo" class="w-16 h-16">
                    </div>
                </div>
            </div>
            <div class="bg-white p-6 rounded-lg shadow hover:shadow-lg">
                <div class="flex justify-between items-center">
                    <div>
                        <h4 class="block text-xl font-bold text-blue-600">Java</h4>
                        <div class="flex mt-2">
                            <img src="/icons/star_full.png" alt="Star" class="w-6 h-6 mx-1">
                            <img src="/icons/star_full.png" alt="Star" class="w-6 h-6 mx-1">
                            <img src="/icons/star_full.png" alt="Star" class="w-6 h-6 mx-1">
                            <img src="/icons/star_full.png" alt="Star" class="w-6 h-6 mx-1">
                        </div>
                    </div>
                    <div>
                        <img src="/imgs/java.png" alt="Java Logo" class="w-24 h-16">
                    </div>
                </div>
            </div>
            <div class="bg-white p-6 rounded-lg shadow hover:shadow-lg">
                <div class="flex justify-between items-center">
                    <div>
                        <h4 class="block text-xl font-bold text-blue-600">Rust</h4>
                        <div class="flex mt-2">
                            <img src="/icons/star_full.png" alt="Star" class="w-6 h-6 mx-1">
                            <img src="/icons/star_full.png" alt="Star" class="w-6 h-6 mx-1">
                            <img src="/icons/star_full.png" alt="Star" class="w-6 h-6 mx-1">
                            <img src="/icons/star_full.png" alt="Star" class="w-6 h-6 mx-1">
                            <img src="/icons/star_full.png" alt="Star" class="w-6 h-6 mx-1">
                        </div>
                    </div>
                    <div>
                        <img src="/imgs/rust.png" alt="Rust Logo" class="w-24 h-16">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="py-20 bg-white">
    <div class="container mx-auto px-4">
        <h3 class="text-3xl font-bold text-center text-gray-800">Logiciels et outils</h3>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-10">
            <div class="bg-blue-50 p-6 rounded-lg shadow hover:shadow-lg">
                <div class="flex justify-between items-center">
                    <div>
                        <h4 class="block text-xl font-bold text-blue-600">Docker</h4>
                        <div class="flex mt-2">
                            <img src="/icons/star_full.png" alt="Star" class="w-6 h-6 mx-1">
                            <img src="/icons/star_full.png" alt="Star" class="w-6 h-6 mx-1">
                            <img src="/icons/star_full.png" alt="Star" class="w-6 h-6 mx-1">
                            <img src="/icons/star_full.png" alt="Star" class="w-6 h-6 mx-1">
                            <img src="/icons/star_full.png" alt="Star" class="w-6 h-6 mx-1">
                        </div>
                    </div>
                    <div>
                        <img src="/imgs/docker.png" alt="Docker Logo" class="w-24 h-16">
                    </div>
                </div>
            </div>
            <div class="bg-blue-50 p-6 rounded-lg shadow hover:shadow-lg">
                <div class="flex justify-between items-center">
                    <div>
                        <h4 class="block text-xl font-bold text-blue-600">Kubernetes</h4>
                        <div class="flex mt-2">
                            <img src="/icons/star_full.png" alt="Star" class="w-6 h-6 mx-1">
                            <img src="/icons/star_full.png" alt="Star" class="w-6 h-6 mx-1">
                            <img src="/icons/star_full.png" alt="Star" class="w-6 h-6 mx-1">
                            <img src="/icons/star_full.png" alt="Star" class="w-6 h-6 mx-1">
                        </div>
                    </div>
                    <div>
                        <img src="/imgs/kubernetes.png" alt="Kubernetes Logo" class="w-24 h-18">
                    </div>
                </div>
            </div>
            <div class="bg-blue-50 p-6 rounded-lg shadow hover:shadow-lg">
                <div class="flex justify-between items-center">
                    <div>
                        <h4 class="block text-xl font-bold text-blue-600">Git</h4>
                        <div class="flex mt-2">
                            <img src="/icons/star_full.png" alt="Star" class="w-6 h-6 mx-1">
                            <img src="/icons/star_full.png" alt="Star" class="w-6 h-6 mx-1">
                            <img src="/icons/star_full.png" alt="Star" class="w-6 h-6 mx-1">
                            <img src="/icons/star_full.png" alt="Star" class="w-6 h-6 mx-1">
                        </div>
                    </div>
                    <div>
                        <img src="/imgs/git.png" alt="Git Logo" class="w-24 h-16">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>